:root {
  --spacing-sm: 1rem;
  --spacing-md: 1.4rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: red;
}

.board {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}
.celd {
  padding: var(--spacing-sm);
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}